a {
    color: black;
}

a:link {
  margin-left: 10px;
}

a:hover {
  color: white;
}

h4 {
    margin: 20px;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

label {
    padding: 15px;
    text-align: left;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    background-color:  #d9d9d9;
    text-align: center;
    align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

body {
    background-color: #668dff;
    margin: 20px;
    color: black;
    font-family: Calibri;
}

* {
    box-sizing: border-box;
}

input[type=text] {
    padding: 5px;
    border: 1px solid grey;
    float: left;
}

input[type=password] {
    padding: 5px;
    border: 1px solid grey;
    float: left;
}

input[type=submit] {
    padding: 5px;
    border: 1px solid grey;
}

button {
    width: 20%;
    padding: 5px;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

.table-button {
    width: 100%;
    padding: 5px;
    background: #d9d9d9;
    color: black;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

#FindTextArea {
    width: 750px;
}

#web-header {
    height: 15%;
    width: 1495px;
    padding: 2px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    background-color: #ffe158;
}

#Register {
    float: left;
    padding: 5px;
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#Login {
    float: left;
    padding: 5px;
    width: 20%;
    height: 20%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

#menu {
    float: left;
    padding: 5px;
    width: 20%;
    height: 400px;
    font-family: Calibri;
    font-size: 20px;
}

#web-footer {
    clear: both;
    padding: 5px;
    width: 100%;
    height: 10%;
    text-align: center;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

#main-content {
    margin: 40px 20px 20px;
    width: 1495px;
    height: 2500px;
}

.register-popup-message, .date-popup-message  {
     position: fixed; /* Stay in place */
     left: 30%;
     top: 50%;
     width: 30%;
     height: 30%;
     overflow: auto; /* Enable scroll if needed */
     background-color: antiquewhite;
     padding-top: 80px;
     text-align: center;
     vertical-align: middle;
     border: 3px solid #333399;
     font-weight: bold;
     font-size: 16px;
}

.reservation-popup-message  {
     position: fixed; /* Stay in place */
     left: 35%;
     top: 50%;
     width: 30%;
     height: 30%;
     overflow: auto; /* Enable scroll if needed */
     background-color: antiquewhite;
     padding-top: 40px;
     text-align: center;
     vertical-align: middle;
     border: 3px solid #333399;
     font-weight: bold;
     font-size: 16px;
}

.error-login-popup-message {
     position: fixed; /* Stay in place */
     left: 35%;
     top: 34%;
     width: 30%;
     height: 30%;
     overflow: auto; /* Enable scroll if needed */
     background-color: antiquewhite;
     padding-top: 80px;
     text-align: center;
     vertical-align: middle;
     border: 3px solid #333399;
     font-weight: bold;
     font-size: 16px;
}

.popup-message {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 50%;
    width: 40%;
    height: 40%;
    overflow: auto; /* Enable scroll if needed */
    background-color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 3px solid #333399;
}

.popup-message input[type=button] {
    margin: 40px 0px 20px 335px;
    padding: 2px;
    font-weight: bold;
    height: 40px;
    width: 80px;
}

.popup-message table, .popup-message th, .popup-message tr, .popup-message td {
    border: none;
}

.cancel-reservation-popup-message, .remove-client-data-popup-message, .remove-location-popup-message {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 50%;
    width: 40%;
    height: 40%;
    overflow: auto; /* Enable scroll if needed */
    background-color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 80px;
    padding-left: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 3px solid #333399;
}

.cancel-reservation-popup-message input[type=button], .remove-client-data-popup-message input[type=button], .remove-location-popup-message input[type=button] {
    margin: 30px 0px 0px 150px;
    padding: 2px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    float: left;
}

.cancel-reservation-popup-message p, .remove-client-data-popup-message p, .remove-location-popup-message p {
    font-weight: bold;
}

.cancel-reservation-status-message, .changing-password-status-message, .error-rental-message, .error-return-message {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 30%;
    top: 50%;
    width: 40%;
    height: 40%;
    overflow: auto; /* Enable scroll if needed */
    background-color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-left: 0px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    border: 3px solid #333399;
}

.cancel-reservation-status-message input[type=button], .changing-password-status-message input[type=button], .error-rental-message input[type=button], .error-return-message input[type=button] {
    margin: 60px 60px 0px 0px;
    padding: 2px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    float: right;
}

.cancel-reservation-status-message p, .changing-password-status-message p, .error-rental-message p, .error-return-message p {
    font-weight: bold;
}


.popup-login-form {
    position: fixed;  /*Stay in place */
    left: 30%;
    top: 25%;
    width: 40%;
    height: 50%;
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid black;
    padding-top: 50px;
    padding-left: 120px;
}

.popup-login-form input[type=text], .popup-login-form input[type=password] {
    margin: 20px 0px 20px 20px;
    width: 300px;
    height: 35px;
}

.popup-login-form input[type=button] {
    margin: 10px 0px 20px 20px;
    width: 100px;
    height: 35px;
    font-weight: bold;
}

#popup-login-form-buttons {
    padding-right: 90px;
}

p.popup-login-field-error-message {
    color: red;
    margin: 0px 0px 0px 7em;
    text-align: left;
    font-weight: bold;
}

.message {
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: antiquewhite;
    text-align: center;
}

.borderless-form-table {
  border-collapse: separate;
  border-spacing: 15px 20px;
  border: none;
}

.borderless-form-table button {
    margin: auto;
    padding: 2px;
    font-weight: bold;
    font-color: black;
    height: 40px;
    width: 100px;
    background: #d9d9d9;
    color: black;
    border: 1px solid black;
}

.login-form-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  width: 50%;
  height: 15%;
  padding-left: 3%;
  padding-top: 4%;
}

.login-form-container input[type=text], .login-form-container input[type=password] {
    margin: 10px 0px 10px 20px;
    padding: 5px;
    height: 15%;
    width: 33%;
}

.login-form-container input[type=submit] {
    margin: 10px 0px 0px 1em;
    padding: 2px;
    font-weight: bold;
    height: 15%;
    width: 20%;
}

.login-form-container label  {
    margin-top: 3em;
    margin-left: 22em;
    padding: 2px;
    display: inline-block;
    color: black;
}

.login-form-container input[type=button] {
    margin: 10px 0px 0px 2em;
    padding: 2px;
    font-weight: bold;
    height: 15%;
    width: 20%;
}

.login-error-message {
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.changing-password-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  width: 42%;
  height: 30%;
}

.changing-password-form label  {
    position: absolute;
    padding: 2px;
    margin-left: 1em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: black;
    font-size: 16px;
}

.changing-password-form input[type=button] {
    margin: 20px 0px 0px 26.5em;
    padding: 2px;
    font-weight: bold;
    height: 100%;
    width: 20%;
    display: inline-block;
}

.changing-password-form-error-message {
    color: red;
    margin-left: 18em;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 50%;
}

.register-form-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 2%;
  width: 45%;
  height: auto;
}

.register-form-container p {
    margin: 0px;
    font-weight: bold;
    font-size: 14px;
}

.register-form-container label  {
    position: absolute;
    padding: 2px;
    margin-left: 5em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: blue;
    font-size: 16px;
}

#register-checkbox-label {
    position: absolute;
    padding: 5px;
    margin-top: 0px;
    margin-left: 16em;
    margin-bottom: 15px;
    font-size: 16px;
}

.register-form-container input[type=text], .register-form-container input[type=password], .changing-password-form input[type=password] {
    margin: 20px 0px 0px 15em;
    padding: 5px;
    height: 40px;
    width: 300px;
}

.register-form-container input[type=button] {
    margin: 20px 0px 0px 26em;
    padding: 2px;
    font-weight: bold;
    height: 100%;
    width: 20%;
    display: inline-block;
}

.register-form-container input[type=checkbox] {
    margin-top: 12px;
    margin-left: 15em;
    margin-bottom: 15px;
}

.register-error-message {
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-weight: bold;
}

.employee-error-login-message, .admin-error-login-message {
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.car-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 40%;
  height: auto;
}

.car-form input[type=text] {
    margin-left: 12em;
    margin-top: 10px;
    width: 300px;
    height: 35px;
}

.car-form input[type=button] {
    margin: 40px 6em;
    text-align: center;
    font-weight: bold;
}

#add-car-button {
    margin: 40px 27em auto;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.car-form select {
    margin-left: 12em;
    margin-top: 10px;
    width: 99%;
    height: 35px;
}

.car-form label {
    position: absolute;
    padding: 5px;
    margin-top: 8px;
    margin-left: 2em;
}

.car-form-error-message {
    color: red;
    margin-left: 14em;
    margin-top: 12px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    float: left;
}

.employee-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 42%;
  height: auto;
}

.employee-form label {
    position: absolute;
    padding: 5px;
    margin-top: 15px;
    margin-left: 2em;
    font-size: 16px;
}

.employee-form input[type=text], .employee-form input[type=password] {
    padding: 5px;
    margin-left: 12em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 90%;
}

.employee-form input[type=checkbox] {
    margin-top: 12px;
    margin-left: 12em;
    margin-bottom: 15px;
}

#checkbox-label {
    position: absolute;
    padding: 5px;
    margin-top: 0px;
    margin-left: 13em;
    margin-bottom: 15px;
    font-size: 16px;
}

.employee-form select {
    padding: 5px;
    margin-left: 12em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 113%;
}

.employee-form input[type=submit] {
    margin: 30px 8em;
    padding: 6px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 15%;
}

.employee-form input[type=button] {
    margin: 30px auto;
    padding: 6px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 15%;
}

.employee-form-error-message {
    float: left;
    color: red;
    margin-left: 14em;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    width: 62%;
}

.client-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 40%;
  height: auto;
}

.client-form label, .location-form label {
    position: absolute;
    padding: 5px;
    margin-top: 15px;
    margin-left: 3em;
    font-size: 16px;
}

.client-form input[type=text], .location-form input[type=text], .location-form input[type=number] {
    padding: 5px;
    margin-left: 13em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 70%;
}

.client-form input[type=submit], .location-form input[type=submit] {
    margin: 20px 8em;
    padding: 6px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 15%;
}

.client-form input[type=button], .location-form input[type=button] {
    margin: 20px auto;
    padding: 6px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 15%;
}

.client-form-error-message, .location-form-error-message {
    float: left;
    color: red;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.location-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 40%;
  height: auto;
}

.location-form select {
    padding: 5px;
    margin-left: 13em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 68%;
    height: 35px;
    background-color: white;
}

.reservation-form, .rental-form, .return-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 65%;
  height: auto;
}

.reservation-form input[type=text], .rental-form input[type=text], .return-form input[type=text] {
    width: 100%;
}

.reservation-form-wide-input input[type=text] {
    width: 100%;
    margin-right: 270px;
}

.reservation-form label, .rental-form label, .return-form label  {
    padding: 2px;
    margin: 0px;
    display: block;
}

p.reservation-form, p.rental-form, p.return-form {
    margin: 15px 0px 10px 0px;
    font-weight: bold;
    font-size: 18px;
}

.group {
    display: inline-block;
}

.heading-group {
    margin-left: 2em;
    margin-top: 3em;
}

.grid {
    display: grid;
}

.reservation-form input[type=button], .rental-form input[type=button], .return-form input[type=button] {
    margin: 20px 10px 0px 0px;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 10%;
}

.reservation-form button {
    width: 100%;
    padding: 5px;
    background: #efefef;
    color: black;
    font-weight: bold;
    border: 1px solid grey;
}

.reservation-form select {
    padding: 5px;
    width: 194%;
    height: 58%;
    text-align: center;
}

.reservation-form-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-column-gap: 0px;
}

.reservation-form-grid input[type=text] {
    width: 97%;
}

.reservation-form-grid button {
    width: 50%;
    height: 65%;
    margin-top: 12%;
    margin-left: 100%;
}

.remark input[type=text] {
    height: 2px;
}

#main-buttons {
    margin-top: 20px;
    margin-bottom: 100px;
}

.find-car-form {
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: antiquewhite;
  padding: 2%;
  width: 80%;
  height: auto;
}

.find-car-form label {
    padding: 5px;
    margin-left: 3em;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

.find-car-form input[type=text] {
    padding: 5px;
    margin-left: 2em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
}

.find-car-form select {
    padding: 5px;
    margin-left: 2em;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
}

.find-car-form-grid {
    display: grid;
    grid-template-columns: 17% 30% 17% 36%;
}


.find-car-button-container {
    margin-left: 55em;
}

.find-car-form input[type=button] {
    margin: 20px 10px 0px 0px;
    padding: 5px;
    display: inline-block;
    font-weight: bold;
    height: 40px;
    width: 90px;
}

