<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Panel administracyjny pracowników </title>
    <script src="/../scripts/support_methods.js" defer></script>
    <script src="/../scripts/load_header_footer.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../css/css_style.css">

</head>
<body>
<div id="main-content">
    <a href="/admin/panel"> Powrót do panelu administracyjnego </a> <br>

    <div>
        <a href="/admin/add-employee"> Dodaj pracownika </a> <br>
        <a href="/main"> Strona główna </a>
    </div>

        <table id="employees-table">
            <thead>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Stanowisko</th>
                <th>Login</th>
                <th>Kraj</th>
                <th>Miasto</th>
                <th>Ulica</th>
                <th>Numer</th>
                <th>Kod pocztowy</th>
                <th>Email</th>
                <th>Numer telefonu stacjonarnego</th>
                <th>Numer służbowy telefonu komórkowego</th>
                <th>Numer prywatny telefonu komórkowego</th>
                <th>Operacja</th>
            </thead>
            <tbody>
                <tr th:each="employee: ${employees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.name}"></td>
                    <td th:text="${employee.surname}"></td>
                    <td th:text="${employee.jobPosition.position}"></td>
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.contactDetails.country}"></td>
                    <td th:text="${employee.contactDetails.city}"></td>
                    <td th:text="${employee.contactDetails.street}"></td>
                    <td th:text="${employee.contactDetails.addressNumber}"></td>
                    <td th:text="${employee.contactDetails.zipCode}"></td>
                    <td th:text="${employee.contactDetails.email}"></td>
                    <td th:text="${employee.contactDetails.landlinePhoneNumber}"></td>
                    <td th:text="${employee.contactDetails.serviceMobilePhoneNumber}"></td>
                    <td th:text="${employee.contactDetails.privateMobilePhoneNumber}"></td>
                    <td>
                        <a th:href="@{/admin/employee/update-form/{id} (id=${employee.id})}">Aktualizuj</a> <br>
                        <a th:href="@{/admin/employee/remove/{id} (id=${employee.id})}">Usuń</a>
                    </td>
                </tr>
            </tbody>
        </table>

</div>
</body>
</html>