<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Aktualizacja danych pracownika </title>
    <script src="/../scripts/support_methods.js" defer></script>
    <script src="/../scripts/load_header_footer.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../css/css_style.css">
</head>
<body>
<div id="main-content">
    <a href="/admin/panel"> Powrót do panelu administracyjnego </a> <br>
    <a href="/admin/employees-panel"> Powrót do listy pracowników </a> <br>

    <form id="update-employee-form" class="employee-form" action="#"
          th:action="@{/admin/employee/update/{id} (id=${employee.id})}" th:object="${employee}" method="post">
        <div class="heading-group">
            <h5>Dane personalne</h5>
        </div>
        <div class="group">
            <label for="employee-name">Imię</label> <input id="employee-name" type="text" placeholder="Imię"
                                                           th:field="*{name}">
        </div>
        <span th:if="${#fields.hasErrors('name')}" th:error="*{name}" class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z A-Z) </span>
        <div class="group">
            <label for="employee-surname">Nazwisko</label> <input id="employee-surname" type="text"
                                                                  placeholder="Nazwisko" th:field="*{surname}">
        </div>
        <span th:if="${#fields.hasErrors('surname')}" th:error="*{surname}" class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z A-Z) </span>
        <div class="group">
            <label for="employee-position">Stanowisko</label>
            <select id="employee-position" name="position" th:field="*{jobPosition}">
                <option th:each="position: ${T(pl.polaninp.rentcarservice.model.JobPosition).values()}"
                        th:value="${position}" th:text="${position.position}">
                </option>
            </select>
        </div>
        <div class="group">
            <label for="employee-password">Hasło</label> <input type="text" id="employee-password" placeholder="Hasło"
                                                                th:field="*{password}">
        </div>
        <span th:if="${#fields.hasErrors('password')}" th:error="*{password}" class="employee-form-error-message"> Pole "Hasło" powinno zawierać co najmniej 8 znaków w tym dużą literę, dopuszczalne znaki specjalne: "!", "@", "#", "$", "%", "^", "&", "*", "-", "_" </span>
        <div class="heading-group">
            <h5>Dane adresowe</h5>
        </div>
        <div class="group">
            <label for="employee-country">Kraj</label> <input id="employee-country" type="text" placeholder="Kraj"
                                                              th:field="*{contactDetails.country}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.country')}" th:error="*{contactDetails.country}"
              class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, "-") </span>
        <div class="group">
            <label for="employee-city">Miasto</label> <input id="employee-city" type="text" placeholder="Miasto"
                                                             th:field="*{contactDetails.city}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.city')}" th:error="*{contactDetails.city}"
              class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, "-") </span>
        <div class="group">
            <label for="employee-street">Ulica</label> <input id="employee-street" type="text" placeholder="Ulica"
                                                              th:field="*{contactDetails.street}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.street')}" th:error="*{contactDetails.street}"
              class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", ".") </span>
        <div class="group">
            <label for="employee-building-number">Numer</label> <input id="employee-building-number" type="text"
                                                                       placeholder="Numer"
                                                                       th:field="*{contactDetails.addressNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.addressNumber')}" th:error="*{contactDetails.addressNumber}"
              class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", "\") </span>
        <div class="group">
            <label for="employee-zip-code">Kod pocztowy</label> <input id="employee-zip-code" type="text"
                                                                       placeholder="Kod pocztowy"
                                                                       th:field="*{contactDetails.zipCode}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.zipCode')}" th:error="*{contactDetails.zipCode}"
              class="employee-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", "\") </span>
        <div class="heading-group">
            <h5>Dane kontaktowe</h5>
        </div>
        <div class="group">
            <label for="employee-email">E-mail</label> <input id="employee-email" type="text" placeholder="E-mail"
                                                              th:field="*{contactDetails.email}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.email')}" th:error="*{contactDetails.email}"
              class="employee-form-error-message"> Nieprawidłowy format adresu mailowego </span>
        <div class="group">
            <label for="employee-landline-phone-number">Telefon stacjonarny</label> <input
                id="employee-landline-phone-number" type="text" placeholder="Numer telefonu stacjonarnego"
                th:field="*{contactDetails.landlinePhoneNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.landlinePhoneNumber')}"
              th:error="*{contactDetails.landlinePhoneNumber}" class="employee-form-error-message"> Nieprawidłowy format (wymagane znaki: "+" 6-15 cyfr <br> bez spacji) </span>
        <div class="group">
            <label for="employee-service-mobile-phone-number">Telefon komórkowy <br> służbowy</label> <input
                id="employee-service-mobile-phone-number" type="text" placeholder="Numer służbowy telefonu"
                th:field="*{contactDetails.serviceMobilePhoneNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.serviceMobilePhoneNumber')}"
              th:error="*{contactDetails.serviceMobilePhoneNumber}" class="employee-form-error-message"> Nieprawidłowy format (wymagane znaki: "+" 6-15 cyfr <br> bez spacji) </span>
        <div class="group">
            <label for="employee-private-mobile-phone-number">Telefon komórkowy <br> prywatny</label> <input
                id="employee-private-mobile-phone-number" type="text" placeholder="Numer prywatny telefonu"
                th:field="*{contactDetails.privateMobilePhoneNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.privateMobilePhoneNumber')}"
              th:error="*{contactDetails.privateMobilePhoneNumber}" class="employee-form-error-message"> Nieprawidłowy format (wymagane znaki: "+" 6-15 cyfr <br> bez spacji) </span>
        <input type="submit" id="update-employee-button" value="Zatwierdź">
        <input type="button" id="cancel-location-button" value="Powrót"
               onclick="location.href='/admin/employees-panel'">
    </form>
</div>
</body>
</html>