<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Wypożyczenia </title>
    <script src="/../scripts/support_methods.js" defer></script>
    <script src="/../scripts/load_header_footer.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../css/css_style.css">
</head>
<body>
<div id="main-content">

    <div>
        <a href="/employee/panel"> Powrót do panelu administracyjnego </a> <br>
    </div>

        <table id="rental-table">
            <thead>
                <th>ID</th>
                <th>Data wypożyczenia</th>
                <th>Stan wypożyczenia</th>
                <th>Data rezerwacji</th>
                <th>Rezerwacja od</th>
                <th>Rezerwacja do</th>
                <th>Opłata rezerwacyjna [zł]</th>
                <th>Operacja</th>
            </thead>
            <tbody>
                <tr th:each="carRental: ${carRentals}">
                    <td th:text="${carRental.id}"></td>
                    <td th:text="${#temporals.format(carRental.rentalDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${carRental.status.description}"></td>
                    <td th:text="${#temporals.format(carRental.reservation.reservationDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(carRental.reservation.reservationFromDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(carRental.reservation.reservationToDate, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${carRental.reservation.costs}"></td>
                    <td>
                        <a th:href="@{/rental/edit-view/{id} (id=${carRental.id})}">Edytuj</a> <br>
                    </td>
                </tr>
            </tbody>
        </table>

</div>
</body>
</html>