<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wstępna rezerwacja</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/../scripts/support_methods.js" defer></script>
    <script type="text/javascript" src="/../scripts/load_header_footer.js" defer></script>
    <script type="text/javascript" src="/../scripts/create_reservation.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" href="/../css/css_style.css" rel="stylesheet">
</head>
<body>

<div id="main-content">
    <div id="login-form" class="popup-login-form" style="display: none;">
        <div class="grid">
            <input type="text" id="username" placeholder="Login">
            <input type="password" id="password" placeholder="Hasło"> <br>
        </div>
        <div id="popup-login-form-buttons" class="group">
            <input type="button" id="login-submit-button" value="Potwierdź">
            <input type="button" id="login-cancel-button" value="Anuluj">
        </div>
    </div>
    <table id="client-initial-reservation-table">
        <thead>
        <tr>
            <th> Data odbioru</th>
            <th> Lokalizacja odbioru</th>
            <th> Data zwrotu</th>
            <th> Lokalizacja zwrotu</th>
            <th> Opłata [zł]</th>
            <th> Samochód</th>
            <th> Potwierdzenie rezerwacji</th>
            <th> Anulowanie rezerwacji</th>
        </tr>
        </thead>
        <tbody>
        <td th:text="${#temporals.format(initialReservation.reservationFromDate, 'dd.MM.yyyy HH:mm')}" id="reservation-from-date"></td>
        <td th:text="${initialReservation.pickupCarLocation.description}" id="pickup-car-location-description"></td>
        <td th:text="${#temporals.format(initialReservation.reservationToDate, 'dd.MM.yyyy HH:mm')}" id="reservation-to-date"></td>
        <td th:text="${initialReservation.pickupCarLocation.description}" id="return-car-location-description"></td>
        <td th:text="${reservationCosts}" id="reservation-costs"></td>
        <td><input type='button' id='car-details-button' value='Szczegóły' th:name="${initialReservation.car.Id}"></td>
        <td><input type='button' id='reservation-confirmation-button' value='Potwierdź'></td>
        <td><input type='button' id='reservation-cancel-button' value='Anuluj'></td>
        </tbody>
    </table>
</div>

</body>
</html>
