<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Aktualizacja danych o lokalizacji </title>
    <script src="/../scripts/support_methods.js" defer></script>
    <script src="/../scripts/load_header_footer.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/../css/css_style.css">
</head>
<body>
<div id="main-content">
    <form id="update-location-form" class="location-form" action="#" th:action="@{/location/update/{id} (id=${location.id})}" th:object="${location}" method="post">
        <h5>Dane lokalizacji</h5>
        <div class="group">
            <label for="location-name">Nazwa</label> <input id="location-name" type="text" placeholder="Nazwa"
                                                            th:field="*{name}">
        </div>
        <span th:if="${#fields.hasErrors('name')}" th:error="${name}" class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, ".") </span>
        <div class="group">
            <label for="location-distance">Odległość [km]</label> <input id="location-distance" type="number" min="0" step="0.1"
                                                                         placeholder="Odległość" th:field="*{distance}">
        </div>
        <span th:if="${#fields.hasErrors('distance')}" th:error="${distance}" class="location-form-error-message"> Wypełnij pole od 1 do 9 znaków (akceptowalne znaki: 0-9, ".") </span>
        <div class="group">
            <label for="location-cost-identifier">Identifikator kosztów</label>
            <select id="location-cost-identifier" th:field="*{costIdentifier}" class="location-form">
                <option th:each="costId : ${T(pl.polaninp.rentcarservice.model.CostIdentifier).values()}"
                        th:if="${costId.getType()}=='location'" th:value="${costId}"
                        th:text="${costId.getPlDescription()}">
                </option>
            </select>
        </div>
        <h5>Dane adresowe</h5>
        <div class="group">
            <label for="location-country">Kraj</label> <input id="location-country" type="text" placeholder="Kraj"
                                                              th:field="*{contactDetails.country}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.country')}" th:error="*{contactDetails.country}"
              class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, "-") </span>
        <div class="group">
            <label for="location-city">Miasto</label> <input id="location-city" type="text" placeholder="Miasto"
                                                             th:field="*{contactDetails.city}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.city')}" th:error="*{contactDetails.city}"
              class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, "-") </span>
        <div class="group">
            <label for="location-street">Ulica / Plac</label> <input id="location-street" type="text"
                                                                     placeholder="Ulica / Plac"
                                                                     th:field="*{contactDetails.street}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.street')}" th:error="*{contactDetails.street}"
              class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", ".") </span>
        <div class="group">
            <label for="location-number">Numer </label> <input id="location-number" type="text"
                                                                        placeholder="Numer"
                                                                        th:field="*{contactDetails.addressNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.addressNumber')}" th:error="*{contactDetails.addressNumber}"
              class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", "\") </span>
        <div class="group">
            <label for="location-zip-code">Kod pocztowy</label> <input id="location-zip-code" type="text"
                                                                       placeholder="Kod pocztowy"
                                                                       th:field="*{contactDetails.zipCode}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.zipCode')}" th:error="*{contactDetails.zipCode}"
              class="location-form-error-message"> Wypełnij pole (akceptowalne znaki: a-z, A-Z, 0-9, "-", "\") </span>
        <h5>Dane kontaktowe</h5>
        <div class="group">
            <label for="location-landline-phone-number">Telefon stacjonarny</label> <input
                id="location-landline-phone-number" type="text" placeholder="Numer telefonu stacjonarnego"
                th:field="*{contactDetails.landlinePhoneNumber}">
        </div>
        <span th:if="${#fields.hasErrors('contactDetails.landlinePhoneNumber')}"
              th:error="*{contactDetails.landlinePhoneNumber}" class="location-form-error-message"> Nieprawidłowy format (wymagane znaki: "+" 6-15 cyfr bez spacji) </span>
        <input type="submit" id="create-location-button" value="Zatwierdź">
        <input type="button" id="cancel-location-button" value="Powrót" onclick="location.href='/admin/location-panel'">
    </form>
</div>
</body>
</html>